{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <h1>Edit your account</h1>

    {% load thumbnail %}
    {% thumbnail user.profile.photo "300" as photo %}
        <a href="{{ user.profile.photo.url }}">
            <img src="{{ photo.url }}" style="float: right">
        </a>
    {% endthumbnail %}

    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
    </form>

    <br>
    <p>You can config your <a href="{% url "settings" %}">login settings</a>.</p>

    {% if user.has_usable_password %}
        <p>Also you can <a href="{% url "password" %}">change your password</a></p>
    {%  endif %}


{% endblock %}