{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
    <h1 style="text-align: center"><b>Exception: 'Email addresses already in use', while processing your registration.</b></h1>

    <div>
        <t>Why it is happened?</t>
        <br>
        You already have registration in our site. <br>
        <br>
        If you are sure,that this is your email, we can give you username.
        <br>
        <p>Please, input your email:</p>

        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value="check"></p>
            {% csrf_token %}
        </form>
        <br>
        <br>
    </div>

    <div>
        {% if another_user %}
            Username: {{ another_user.username }} <br>
            Now you can use it for <a href="{% url 'password_reset' %}"> reset password </a>.
            <br>
            If it anyway did not help you please contact admin.
        {% endif %}
    </div>


{% endblock %}