{% extends 'base.html' %}

{% block title %}Confirmation of account{% endblock %}
{% block content %}
    <h1 style="text-align: center"><b>Confirmation of account</b></h1>
    <p>
        Now your account is "Not confirmed".<br>
        It is mean, you can not use some functions. <br>
        For example, soft delete, username/email login etc.<br>


    </p>

    {% if request.user.is_authenticated %}
        {% if not request.user.email %}
            We need send you confirmation email.
            Please, add email in <a href="{% url "edit" %}">Edit profile</a>.
        {% else %}
            <br>
            We was send to your email for activation.
            If you did not get email with confirmation link, or this link is invalid:
            <br>
            <br>
            <p>Enter your e-mail address to obtain a new confirmation.</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Send e-mail"></p>
            </form>
        {% endif %}
    {% else %}

        <p>Enter your e-mail address to obtain a new confirmation.</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Send e-mail"></p>
        </form>
    {% endif %}



    <div  style="clear: both">
    <hr>

        <br>
        <br>

    </div>

{% endblock %}